@font-face {
  font-family: "TT Lakes";
  src: url("./assets/fonts/TTLakes-Regular.eot");
  src: url("./assets/fonts/TTLakes-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TTLakes-Regular.woff") format("woff"),
    url("./assets/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./assets/fonts/TTLakes-Medium.eot");
  src: url("./assets/fonts/TTLakes-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TTLakes-Medium.woff") format("woff"),
    url("./assets/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("./assets/fonts/TTLakes-Bold.eot");
  src: url("./assets/fonts/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("./assets/fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #f8f8f8;
}

ul {
  list-style: none;
}

.brands__heading {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: #7e7e82;
  background-image: linear-gradient(270deg, #fff 0%, #f8f8f8 100%);
  padding: 16px 32px;
  margin-bottom: 24px;
}

.brands__list-wrapper {
  width: fit-content;
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 24px;
  height: 160px;
  overflow: hidden;
}

.brands__item {
  width: 224px;
  height: 72px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.brands__link {
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
}

.brands__link-image {
  margin-right: auto;
}

.brands__expand-button {
  display: none;
  gap: 9px;
  align-items: center;
  margin-left: 24px;
  border: none;
  cursor: pointer;
}

.swiper {
  width: 320px;
  height: 110px;
  padding: 0 24px;
}

.swiper-slide-active {
  width: 224px;
}

.swiper-pagination-bullet {
  background-color: #bbb;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media (min-width: 768px) {
  .swiper {
    width: 100%;
    height: 160px;
  }

  .brands__list {
    display: grid;
    row-gap: 16px;
    column-gap: 24px;
    grid-template-columns: repeat(3, 1fr);
  }

  .brands__expand-button {
    display: flex;
  }
}

@media (min-width: 1120px) {
  .brands__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .brands__item {
    width: 240px;
  }
}
